/* Enter your custom styles here */
.customIconTabBar>.sapMITBContainerContent>.sapMITBContent {
    padding: 0 !important;
}

.customNoBoxShadow.sapMBar {
	background-color: transparent !important;
    box-shadow: none !important;
}

.customQuickViewCard .sapMQuickViewPage .sapUiHLayout {
	margin-bottom: 0rem !important;
}