/* Enter your custom styles here */
.customIconTabBar>.sapMITBContainerContent>.sapMITBContent {
    padding: 0 !important;
}

.customNoBoxShadow.sapMBar {
    background-color: transparent !important;
    box-shadow: none !important;
}

.customQuickViewCard .sapMQuickViewPage .sapUiHLayout {
    margin-bottom: 0rem !important;
}

.customSemanticPage .sapFDynamicPageTitleMainInner,
.customSemanticPage .sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading,
.customSemanticPage .sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {
    width: 100% !important;
}

.customLineHeight2Rem {
    line-height: 2rem !important;
}

.customPaddingTop0_25Rem {
    padding-top: 0.25rem !important;
}

.customfontSize1_5Rem {
    font-size: 1.5rem !important;
}

.customWidthLegendLeft {
    width: 13rem !important;
}

.customWidthLegendRight {
    width: 30rem !important;
}

.customFontBold {
    font-weight: bold !important;
}

.customItemPaddingTop0_25Rem.sapMVBox>.sapMFlexItem {
    padding-top: 0.25rem !important;
}

.customTextAlignCenter {
	text-align: center !important;
}

.noDataTextMeasurepoint>.sapUiSizeCompact .sapMListTblCell.sapMListTblCellNoData {
    color: #e56e0c !important;
}

/*Important Icon in Select*/
.CustomImportant .sapUiIcon,
[data-iconCustom="IconImportant"] .sapUiIcon {
	color: #FF0000;
}
